<div class="form-group">
    <h4>Панель управления</h4>
     {{form}}
     <div class="py-3">
         <button type="button" class="btn btn-outline-primary btn-lg"
                 hx-post="{{request.path}}table/search/"
                 hx-target="#table"
                 hx-swap="innerHTML"
                 hx-trigger="click"      
         >🔎</button>
         <button type="button" class="btn btn-outline-success btn-lg"
         hx-post="{{request.path}}table/add/"
         hx-target="#table"
         hx-swap="innerHTML"
         hx-trigger="click"
         >⭐</button>

         <button type="button" class="btn btn-outline-primary btn-lg"
         hx-get="{{request.path}}table/"
         hx-target="#table"
         hx-swap="innerHTML"
         hx-trigger="load, click"
         >🔄</button>
     </div>
</div>