{% extends 'index.html' %}

{% block content %}

<div class="justify-content-center good_table col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4"
     hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <h1 class="text-center display-4">Менаджер товаров</h1>
      <div id="goods_table">

      </div>  
      <form>
      <div class="form-group">
        
            {{good_form}}
            <div class="py-3">
                <button type="button" class="btn btn-outline-primary">🔎 Найти</button>
                <button type="button" class="btn btn-outline-success"
                hx-post="/goods/add/"
                hx-target="#goods_table"
                hx-swap="innerHTML"
                hx-trigger="click"
                >⭐ Добавить</button>

                <button type="button" class="btn btn-outline-primary"
                hx-get="/goods/refresh/"
                hx-target="#goods_table"
                hx-swap="innerHTML"
                hx-trigger="load, click"
                >🔄 Обновить</button>
            </div>
      </div>
    </form>
     
      
</div>

{% endblock %}