<table class="table table-hover table-bordered">
    {% load table_filters %}
    <thead>
      <tr>
        {% for field in fields %}
        <th scope="col">{{field}}</th>
        {% endfor %}
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {% for good in goods %}
      <tr>
        {% for field in fields %}
        <td>{{ good|get_attr:'price' }}</td>

        {% endfor %}
        <!-- <td contenteditable='true'>{{good.name}}</td>
        <td contenteditable='true'>{{good.price}}</td>
        <td>{{good.category}}</td> -->
        <td> 
          <button type="button" class="btn btn-outline-warning btn-sm"
          hx-put="/goods/update/{{good.id}}"
          hx-swap="outerHTML"
          hx-target="closest tr"
          >✏️</button>
          
          <button type="button" class="btn btn-outline-danger btn-sm"
          hx-delete="/goods/delete/{{good.id}}"
          hx-swap="outerHTML"
          hx-target="closest tr"
          >🗑️</button></td>
         
      </tr>
      {% endfor %}
    </tbody>
  </table>